openapi: 3.1.0
info:
  title: Workday Finance Financial Management Accounts API
  description: Core API for financial management operations including general ledger, accounts payable, accounts receivable, financial reporting, tax management, financial organizations, and worktag management. Exposes data relative to accounts, accounting, business plans, and related financial structures.
  version: v41.2
  contact:
    name: Workday API Support
    email: api-support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/financial-management/v41.2/{tenant}
  description: Workday Financial Management API Server
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Accounts
  description: General ledger accounts and account structures
paths:
  /accounts:
    get:
      operationId: listAccounts
      summary: List Financial Accounts
      description: Returns a collection of general ledger accounts in the tenant.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: type
        in: query
        description: Filter by account type
        schema:
          type: string
      responses:
        '200':
          description: Collection of accounts returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/{accountId}:
    get:
      operationId: getAccount
      summary: Get Financial Account
      description: Returns details of a specific general ledger account.
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Account details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    accountId:
      name: accountId
      in: path
      required: true
      description: The unique identifier of the account
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 20
        maximum: 100
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        href:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
    Account:
      type: object
      properties:
        id:
          type: string
          description: Account unique identifier
        descriptor:
          type: string
          description: Account display name
        accountNumber:
          type: string
          description: General ledger account number
        accountType:
          type: string
          enum:
          - asset
          - liability
          - equity
          - revenue
          - expense
          description: Type of account
        company:
          $ref: '#/components/schemas/ResourceReference'
        balance:
          type: number
          format: double
          description: Current account balance
        currency:
          type: string
          description: Account currency code
        href:
          type: string
          format: uri
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Workday Financial Management API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/Financial_Management/v41.2/index.html
