openapi: 3.1.0
info:
  title: Workday Finance Financial Management Accounts Supplier Invoices API
  description: Core API for financial management operations including general ledger, accounts payable, accounts receivable, financial reporting, tax management, financial organizations, and worktag management. Exposes data relative to accounts, accounting, business plans, and related financial structures.
  version: v41.2
  contact:
    name: Workday API Support
    email: api-support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/financial-management/v41.2/{tenant}
  description: Workday Financial Management API Server
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Supplier Invoices
  description: Supplier invoice processing
paths:
  /supplierInvoices:
    get:
      operationId: listSupplierInvoices
      summary: List Supplier Invoices
      description: Returns a collection of supplier invoices.
      tags:
      - Supplier Invoices
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: status
        in: query
        description: Filter by invoice status
        schema:
          type: string
      responses:
        '200':
          description: Collection of supplier invoices returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierInvoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSupplierInvoice
      summary: Create Supplier Invoice
      description: Creates a new supplier invoice for processing.
      tags:
      - Supplier Invoices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceCreate'
      responses:
        '201':
          description: Supplier invoice created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoice'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 20
        maximum: 100
  schemas:
    ResourceReference:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        href:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    SupplierInvoiceCreate:
      type: object
      required:
      - supplier
      - invoiceNumber
      - totalAmount
      properties:
        supplier:
          type: string
        invoiceNumber:
          type: string
        invoiceDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        totalAmount:
          type: number
        currency:
          type: string
    SupplierInvoice:
      type: object
      properties:
        id:
          type: string
        descriptor:
          type: string
        invoiceNumber:
          type: string
        status:
          type: string
          enum:
          - draft
          - submitted
          - approved
          - paid
          - cancelled
        supplier:
          $ref: '#/components/schemas/ResourceReference'
        invoiceDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        totalAmount:
          type: number
          format: double
        currency:
          type: string
        purchaseOrder:
          $ref: '#/components/schemas/ResourceReference'
        href:
          type: string
          format: uri
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Workday Financial Management API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/Financial_Management/v41.2/index.html
