openapi: 3.1.0
info:
  title: Workday Finance Financial Management Accounts Suppliers API
  description: Core API for financial management operations including general ledger, accounts payable, accounts receivable, financial reporting, tax management, financial organizations, and worktag management. Exposes data relative to accounts, accounting, business plans, and related financial structures.
  version: v41.2
  contact:
    name: Workday API Support
    email: api-support@workday.com
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/financial-management/v41.2/{tenant}
  description: Workday Financial Management API Server
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Suppliers
  description: Supplier account management
paths:
  /suppliers:
    get:
      operationId: listSuppliers
      summary: List Suppliers
      description: Returns a collection of supplier accounts in the tenant.
      tags:
      - Suppliers
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of suppliers returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /suppliers/{supplierId}:
    get:
      operationId: getSupplier
      summary: Get Supplier
      description: Returns details of a specific supplier account.
      tags:
      - Suppliers
      parameters:
      - $ref: '#/components/parameters/supplierId'
      responses:
        '200':
          description: Supplier details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 20
        maximum: 100
    supplierId:
      name: supplierId
      in: path
      required: true
      description: The unique identifier of the supplier
      schema:
        type: string
  schemas:
    Supplier:
      type: object
      properties:
        id:
          type: string
          description: Supplier unique identifier
        descriptor:
          type: string
          description: Supplier display name
        name:
          type: string
        supplierNumber:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
        taxId:
          type: string
        paymentTerms:
          type: string
        href:
          type: string
          format: uri
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Workday Financial Management API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/productionapi/Financial_Management/v41.2/index.html
